* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
.curva {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: #ffffff;
  height: 80px;
}
navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}
navbar ul li {
  padding: 0.5rem 1rem;
}
navbar ul li a {
  font-size: 1.5rem;
  color: white;
}

body .curva {
  display: flex;
  top: 900px;
}

.back-input {
  display: flex;
}

/*.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  transform: translate(-50%, -50%);
  background: #353b48;
  border-radius: 40px;
}
.search input,
.search button {
  font-size: 1.5rem;
  padding: 0.25rem;
  border: 3px solid #2b81fa;
}
.search button {
  background-color: #2b81fa;
  color: white;
}
*/
input::placeholder {
  opacity: 0.5;
  color: gray;
  font-family: "Montserrat";
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pictures .picture {
  padding: 2rem;
}
.pictures .picture .imageContainer {
  overflow: hidden;
  height: 60vh;
  width: 45vh;
  box-shadow: 3px 3px 10px #333;
  background-size: 50px, 130px, auto;
  border-radius: 8px;
}
.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.1s ease;
}
.pictures .picture .imageContainer img:hover {
  transform: scale(1.25);
}

.search-box {
  display: flex;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 5px, 5px #00689c;
  width: 85px;
  height: 100px;
  align-items: center;
}

#svg-fundo {
  display: flex;
  width: 100%;
}

.search-btn {
  padding: 0 6px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: rgb(255, 205, 205);
  background-color: #2978ff;
  border: 0;
  border-radius: inherit;
  font-size: 1.6rem;
  flex-shrink: 0;
  transition: 1s;
  width: 85px;
  height: 40px;
  align-items: center;
}
.search-txt {
  padding: 1rem;
  border: 0;
  border-radius: inherit;
  flex-grow: 1;
  font-size: 1rem;
  font-family: "Poppins";
  height: 40px;
}

.search-box:hover > .search-btn {
  background: #0760fa5b;
}

.home:hover {
  background: #0760fa;
}

.about:hover {
  background: red;
}

/*
.search-box:hover > .search-txt {
  width: 300px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: white;
}

.search-box:hover > i .btn {
  font-size: 10px;
  background: yellow;
}*/
