header{
    background-color: white;
    ul{
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        li{
            padding: 0.5rem 1rem;
            a{
                font-size: 1.5rem;
                color:black;
            }
        }
    }
}

.logo-Leadster{
    display: flex;
    width:90px;
    height: auto;
    padding-bottom: 50px;
    
}