@import url("https://fonts.googleapis.com/css2?family=Anton&family=Corinthia:wght@400;700&family=Fuzzy+Bubbles:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
.navbar {
    background-color: #ffffff;
    height: 100px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.navbar ul li {
    padding: 0.5rem 1rem;
}

.navbar ul li a {
    font-size: 1.5rem;
    color: white;
}

.title-photo {
    font-family: "Anton",
    sans-serif;
    font-family: "Corinthia",
    cursive;
    font-family: "Fuzzy Bubbles",
    cursive;
    font-family: "Poppins",
    sans-serif;
    font-size: 2.5rem;
}