@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fuzzy+Bubbles:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .picture {
    padding: 1rem;
    width: 400px;
    .imageContainer {
      overflow: hidden;
      height: 40vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}

div {
  font-family: "Anton", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Poppins", sans-serif;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
